@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom, transparent 40%, #1c1c28), url(/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: Poppins;
}

h1 {
  margin-top: 10px;
  color: #eef5ff;
  font-size: 24px;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 32rem;
  height: 25rem;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper i {
  position: absolute;
  top: 22px;
  right: 14px;
  color: #3333332c;
}

.input {
  font-family: Poppins, sans-serif;
  width: 20rem;
  padding: 10px 30px 10px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #26262696;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  transition: border-left 0.1s ease;
}

.input:focus {
  outline: none;
  border-left: 2px solid #80bcbd;
}

.input:focus ~ i {
  color: #80bcbd;
}

.login-btn {
  width: 10rem;
  padding: 0.5rem;
  border: none;
  background: #3498db;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.login-btn:hover {
  background: #2077b5;
  color: #e4e0e0;
}

#or {
  text-align: center;
  margin: 10px;
  color: #eef5ff;
  user-select: none;
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-login button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.social-login button.google {
  background: #db4437;
  color: #fff;
}

.social-login button.github {
  background: #333;
  color: #fff;
}

.social-login button:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: #e4e0e0;
  margin-top: 10px;
  transition: color 0.3s ease;
}

a:hover {
  color: #b6b6b6;
}

@media screen and (max-width: 500px) {
  .social-login {
    flex-direction: column;
    gap: 10px;
  }
  .login-container {
    height: 28rem;
  }
}
